// ==============================
//            Fonts
// ==============================

@font-face {
  font-family: "Poppins-Tn";
  src: url(./../fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: "Poppins-Lt";
  src: url(./../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Rg";
  src: url(./../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Bd";
  src: url(./../fonts/Poppins-Bold.ttf);
}

// ==============================
//          General
// ==============================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins-Rg";
}

// ==============================
//             Body
// ==============================

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 16px;
}

// ==============================
//            Header
// ==============================

header {
  width: 100%;
  form {
    display: flex;
    justify-content: center;

    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // width: 500px;
    .search-input {
      width: 400px;
      grid-column: 1/3;
      background-color: #078fe9;
      box-shadow: 0 25px 45px #00000045;
      border-radius: 32px;
      border: 2px solid #ffffff74;
      border-right: 2px solid #ffffff4a;
      border-bottom: 2px solid #ffffff4a;
      backdrop-filter: blur(8px);
      padding: 16px 32px;
      margin-block: 16px;
      margin-right: 16px;
    }
    .search-btn {
      color: #078fe9;
      background-color: #fff;
      border: none;
      padding: 16px 32px;
      border-radius: 50px;
      margin-block: 16px;
    }
  }
  .search-error-output {
    color: tomato;
    text-align: center;
  }
}

// ==============================
//  section-weather-cards-wrapper
// ==============================

.section-weather-cards-wrapper {
  // max-width: 500px;
  .weather-card {
    background-color: #ffffff10;
    box-shadow: 0 25px 45px #00000045;
    border-radius: 32px;
    border: 2px solid #ffffff20;
    border-right: 2px solid #ffffff10;
    border-bottom: 2px solid #ffffff10;
    backdrop-filter: blur(8px);
    padding: 40px;
    margin-block: 16px;

    .weather-card-headline {
      font-family: "Poppins-Lt";
      font-size: 3rem;
      color: #fff;
      font-weight: normal;
      line-height: 1.2;
    }

    .weather-card-degree-wrapper {
      padding: 64px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .weather-card-icon {
        width: 140px;
        height: 140px;
        background-color: #ffffff53;
        border-radius: 100px;
      }

      .weather-card-degree {
        font-family: "Poppins-Tn";
        font-size: 10rem;
        color: #fff;
        font-weight: normal;
        line-height: 1.2;
        display: inline;
      }
    }
    .weather-card-description {
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }
    .weather-card-current-timestamp {
      color: #fff;
      text-align: center;
      margin-bottom: 16px;
    }

    .weather-card-add-data-wrapper {
      margin-top: 32px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // row-gap: 2px;

      .weather-card-add-data-prop {
        color: #fff;
        font-family: "Poppins-Bd";
        padding: 6px 8px;
        grid-column: 1/2;
        // border-radius: 4px;
        background-color: #00000040;
      }
      .weather-card-add-data-value {
        // border-radius: 4px;
        padding: 4px 8px;
        color: #fff;
        grid-column: 2/4;
        background-color: #00000020;
      }
    }
  }
}

// ==============================
//      section-forecast
// ==============================

.section-forecast {
  background-color: #ffffff10;
  box-shadow: 0 25px 45px #00000045;
  border-radius: 32px;
  border: 2px solid #ffffff20;
  border-right: 2px solid #ffffff10;
  border-bottom: 2px solid #ffffff10;
  backdrop-filter: blur(8px);
  padding: 40px;
  margin-block: 16px;

  .forecast-headline {
    color: #fff;
    display: block;
  }

  .daily-forecast {
    background-color: #078fe9;
    border-radius: 8px;
    padding: 8px;

    .weekday-forecast {
      font-size: 0.75rem;
    }
    .forecast-icon {
      font-size: 2rem;
    }
    .forecast-degree {
      font-size: 1rem;
    }
  }
}
